.spinner-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 300px !important;
    /* Adjust the height as per your layout */
}


.search-container {
  display: flex;
  align-items: center;
}

.input-group > :not(:first-child) {
  background-color: #4c4cff;
}
/* 
.input-group-text {
  background-color: #4c4cff;
  color: #000000 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0.375rem 0.75rem !important;
  margin-right: 15px !important;
} */