.contactDetails-title{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-table-base{
    display:flex ;
    justify-content: center;
    margin-bottom: 100px;
    }

.contact-table {
    width: 60%; /* Make the table full width */
    border-collapse: collapse; /* Remove extra spacing between cells */
    
}

.contact-table th, .contact-table td {
    border: 1px solid #000000;  /* Add a light border */
    padding: 10px;            
    text-align: center;        
}
.contact-table th { /* Style the table header */
    background-color: rgb(0,14,106); 
    color: aliceblue;
}
.header-table {
    color: #fff !important;
    background: #000d6b !important;
}

.spinner-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 300px !important;
    /* Adjust the height as per your layout */
}
.contact-table-base{
    padding: 50px 0px 175px 0px  ;
    }